{
  "singleQuote": true,
  "trailingComma": "es5",
  "jsxBracketSameLine": true,
  "printWidth": 80,
  "semi": true,
  "tabWidth": 2,
  "bracketSpacing": true,
  "useTabs": false,
  "arrowParens": "always",
  "overrides": [
    {
      "files": ["*.ts", "*.tsx"],
      "options": {
        "parser": "typescript"
      }
    }
  ],
  "eslintIntegration": true
}
